<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.mapper.BlogMapper">
    <select id="selectBlog" parameterType="int" resultType="org.mybatis.pojos.Blog">
        select * from blogs where id=#{id}
    </select>

    <insert id="createNewBlog">
        insert into blogs (id,title) values(#{id},#{title})
    </insert>

    <delete id="deleteBlog">
        delete from blogs where id=#{id}
    </delete>

    <delete id="updateBlog">
        update blogs set title=#{title} where id=#{id}
    </delete>
</mapper>        