<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="product">
        <environment id="product">
            <transactionManager type="JDBC">
                <property name="desiredAutoCommit" value="false"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="org.hsqldb.jdbc.JDBCDriver"/>
                <property name="url" value="jdbc:hsqldb:./db/mybatis.sqlite"/>
                <property name="username" value="sa"/>
                <property name="password" value="sa"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org/mybatis/mapper/BlogMapper.xml"/>
    </mappers>

</configuration>